In [118]:
import pandas as pd
import numpy as np
from MyPreprocessing import *
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [119]:
df=pd.read_csv("beer_reviews.csv")
df.head()

,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid
0,10325,Vecchio Birraio,1234817823,1.5,2.0,2.5,stcules,Hefeweizen,1.5,1.5,Sausa Weizen,5.0,47986
1,10325,Vecchio Birraio,1235915097,3.0,2.5,3.0,stcules,English Strong Ale,3.0,3.0,Red Moon,6.2,48213
2,10325,Vecchio Birraio,1235916604,3.0,2.5,3.0,stcules,Foreign / Export Stout,3.0,3.0,Black Horse Black Beer,6.5,48215
3,10325,Vecchio Birraio,1234725145,3.0,3.0,3.5,stcules,German Pilsener,2.5,3.0,Sausa Pils,5.0,47969
4,1075,Caldera Brewing Company,1293735206,4.0,4.5,4.0,johnmichaelsen,American Double / Imperial IPA,4.0,4.5,Cauldron DIPA,7.7,64883

In [120]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1586614 entries, 0 to 1586613
Data columns (total 13 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   brewery_id          1586614 non-null  int64
 1   brewery_name        1586599 non-null  object
 2   review_time         1586614 non-null  int64
 3   review_overall      1586614 non-null  float64
 4   review_aroma        1586614 non-null  float64
 5   review_appearance   1586614 non-null  float64
 6   review_profilename  1586266 non-null  object
 7   beer_style          1586614 non-null  object
 8   review_palate       1586614 non-null  float64
 9   review_taste        1586614 non-null  float64
 10  beer_name           1586614 non-null  object
 11  beer_abv            1518829 non-null  float64
 12  beer_beerid         1586614 non-null  int64
dtypes: float64(6), int64(3), object(4)
memory usage: 157.4+ MB

In [121]:
df.isna().sum()

brewery_id                0
brewery_name             15
review_time               0
review_overall            0
review_aroma              0
review_appearance         0
review_profilename      348
beer_style                0
review_palate             0
review_taste              0
beer_name                 0
beer_abv              67785
beer_beerid               0
dtype: int64

## Analyse des brasseries

In [122]:
len(df["brewery_id"].value_counts()) #5840 différentes brasseries différentes

5840

In [123]:
no_brewery_name_id=df[df["brewery_name"].isna()]["brewery_id"].unique() ## id des brasseries dont le nom est manquant
no_brewery_name_id

array([1193,   27])

In [124]:
df[df["brewery_id"].isin(no_brewery_name_id)] ## Impossible de retrouver les noms manquants des brasseries en se basants sur l'historique de leur id

,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid
651565,1193,NaN,1301022066,2.0,2.5,2.5,Knapp85,Vienna Lager,1.5,1.5,Engel Tyrolian Bräu WRONG BREWERY SEE SCHWABIS...,5.0,67503
659293,1193,NaN,1290107698,4.0,4.5,3.5,dqrull,Bock,4.0,3.5,Engel Bock Dunkel WRONG BREWERY SEE CRAILSHEIMER,7.2,63658
659299,1193,NaN,1289077001,3.5,3.0,3.0,dqrull,Dortmunder / Export Lager,4.0,4.0,Engel Gold WRONG BREWERY SEE CRAILSHEIMER,5.4,63215
659300,1193,NaN,1289851033,3.5,4.0,3.5,dqrull,Munich Helles Lager,3.5,3.0,Engel Landbier WRONG BREWERY SEE CRAILSHEIMER,4.8,63557
659301,1193,NaN,1289158632,3.5,4.0,4.0,dqrull,Keller Bier / Zwickel Bier,4.0,3.5,Engel Keller Hell WRONG BREWERY SEE CRAILSHEIMER,5.4,63256
659302,1193,NaN,1289590065,3.5,4.0,3.0,dqrull,Vienna Lager,3.0,3.5,Engel Aloisius - WRONG BREWERY SEE CRAILSHEIMER,5.9,63459
659303,1193,NaN,1298078926,3.0,3.0,3.0,Ochsenblut,Keller Bier / Zwickel Bier,2.0,3.0,Engel Keller Dunkel WRONG BREWERY SEE CRAILSH...,5.3,63324
659304,1193,NaN,1292423271,4.5,4.0,4.0,Dentist666,Keller Bier / Zwickel Bier,4.0,4.5,Engel Keller Dunkel WRONG BREWERY SEE CRAILSH...,5.3,63324
659305,1193,NaN,1289329962,3.5,3.5,4.0,dqrull,Keller Bier / Zwickel Bier,4.0,4.0,Engel Keller Dunkel WRONG BREWERY SEE CRAILSH...,5.3,63324
1391043,27,NaN,1020244856,3.5,3.5,3.5,Jason,American Adjunct Lager,4.0,3.5,Hard Hat American Beer,3.8,60
1391049,27,NaN,1143182956,2.5,2.0,2.0,BeerBob,American Malt Liquor,2.0,2.0,Side Pocket,8.5,3394
1391050,27,NaN,1117963232,1.5,1.5,2.0,feloniousmonk,American Malt Liquor,1.5,1.5,Side Pocket,8.5,3394
1391051,27,NaN,1323314674,4.5,4.5,3.5,ccrida,American IPA,4.5,4.5,Breakaway IPA,7.2,75135
1391052,27,NaN,1320989774,3.5,4.0,3.5,Docer,American IPA,4.0,4.0,Breakaway IPA,7.2,75135
1391053,27,NaN,1320995408,5.0,4.5,4.0,Docer,American Stout,4.5,4.5,Caboose Oatmeal Stout,7.0,75137

In [125]:
beer_nameID=df[["beer_name","beer_beerid"]].drop_duplicates()
beerID_by_beer_name=beer_nameID.groupby("beer_name").agg(count=("beer_beerid","count")).reset_index()
beerID_by_beer_name

                              beer_name  count
0                           ! (Old Ale)      1
1                                 "100"      1
2                        "100" Pale Ale      1
3       "12"  Belgian Golden Strong Ale      1
4                           "33" Export      1
...                                 ...    ...
56852  Žamberecký Kanec Imperial Stout      1
56853            Ω-naught (Omeganaught)      1
56854                “Chewy” Double IPA      1
56855        横須賀ビアサケ (Yokosuka Biasake)      1
56856               葉山ビール (Hayama Beer)      1

[56857 rows x 2 columns]

In [126]:
beerID_by_beer_name[beerID_by_beer_name["count"]>1].sort_values(["count"],ascending=False) # Il existe plusieurs noms de bières qui sont liés à plusieurs beer_beerid différents
                                                                                           # On peut penser que plusieurs brasseries fabriquent une meme bière

           beer_name  count
36445    Oktoberfest    199
38123       Pale Ale    198
36176  Oatmeal Stout    161
25640            IPA    147
23298     Hefeweizen    143
...              ...    ...
25706         Icarus      2
25657   IPA Anglaise      2
6227            Bill      2
25617           I2PA      2
32251   Mary Hoppins      2

[2705 rows x 2 columns]

In [127]:
df[["brewery_name","brewery_id"]].nunique()

brewery_name    5742
brewery_id      5840
dtype: int64

In [128]:
breweryNameId=df[["brewery_name","brewery_id"]].drop_duplicates()
breweryID_by_breweryName=breweryNameId.groupby("brewery_name").agg(count=("brewery_id","count")).reset_index()
breweryID_by_breweryName

                 brewery_name  count
0           't Hofbrouwerijke      1
1       (512) Brewing Company      1
2       10 Barrel Brewing Co.      1
3        1516 Brewing Company      1
4     16 Mile Brewing Company      1
...                       ...    ...
5737       Ölvisholt Brugghús      1
5738            Öufi Brauerei      1
5739              Ølfabrikken      1
5740           Ørbæk Bryggeri      1
5741     Łódzkie Browary S.A.      1

[5742 rows x 2 columns]

In [129]:
breweryID_by_breweryName[breweryID_by_breweryName["count"]>1].sort_values(["count"],ascending=False).nunique() # 59 brasseries différentes qui portent le meme nom.
                                                                                                               # Cela peut s'expliquer par le fait qu'une brasserie peut posséder plusieurs filiales

brewery_name    59
count            5
dtype: int64

In [130]:
# Est ce que une meme bière peut etre fabriquée par des entreprises différentes
df[["beer_beerid","brewery_id"]].nunique() # nombre de bières plus élévé que le nombre de brasseries
                                           # cela indique qu'une brasserie peut fabriquer plusieurs bières

beer_beerid    66055
brewery_id      5840
dtype: int64

## 1. Which brewery produces the strongest beers by ABV%?

## Création de deux nouvelles colonnes qui sont: *date* est Conversion de *reviews_time* en format date et *year* qui est l'année de la date

In [131]:
convert_time(df)

,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid,date,year
0,10325,Vecchio Birraio,1234817823,1.5,2.0,2.5,stcules,Hefeweizen,1.5,1.5,Sausa Weizen,5.0,47986,2009-02-16 20:57:03,2009
1,10325,Vecchio Birraio,1235915097,3.0,2.5,3.0,stcules,English Strong Ale,3.0,3.0,Red Moon,6.2,48213,2009-03-01 13:44:57,2009
2,10325,Vecchio Birraio,1235916604,3.0,2.5,3.0,stcules,Foreign / Export Stout,3.0,3.0,Black Horse Black Beer,6.5,48215,2009-03-01 14:10:04,2009
3,10325,Vecchio Birraio,1234725145,3.0,3.0,3.5,stcules,German Pilsener,2.5,3.0,Sausa Pils,5.0,47969,2009-02-15 19:12:25,2009
4,1075,Caldera Brewing Company,1293735206,4.0,4.5,4.0,johnmichaelsen,American Double / Imperial IPA,4.0,4.5,Cauldron DIPA,7.7,64883,2010-12-30 18:53:26,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1586609,14359,The Defiant Brewing Company,1162684892,5.0,4.0,3.5,maddogruss,Pumpkin Ale,4.0,4.0,The Horseman's Ale,5.2,33061,2006-11-05 00:01:32,2006
1586610,14359,The Defiant Brewing Company,1161048566,4.0,5.0,2.5,yelterdow,Pumpkin Ale,2.0,4.0,The Horseman's Ale,5.2,33061,2006-10-17 01:29:26,2006
1586611,14359,The Defiant Brewing Company,1160702513,4.5,3.5,3.0,TongoRad,Pumpkin Ale,3.5,4.0,The Horseman's Ale,5.2,33061,2006-10-13 01:21:53,2006
1586612,14359,The Defiant Brewing Company,1160023044,4.0,4.5,4.5,dherling,Pumpkin Ale,4.5,4.5,The Horseman's Ale,5.2,33061,2006-10-05 04:37:24,2006
1586613,14359,The Defiant Brewing Company,1160005319,5.0,4.5,4.5,cbl2,Pumpkin Ale,4.5,4.5,The Horseman's Ale,5.2,33061,2006-10-04 23:41:59,2006

In [132]:
strongest_brewery(df)

       brewery_name  year   max
22037  Schorschbräu  2011  57.7

In [133]:
strongest_brewery_year(df,2012)

            brewery_name   max
409  De Struise Brouwers  39.0

## 2. If you had to pick 3 beers to recommend using only this data, which would you pick ?

Dans la fonction beer_after_date(),on a décidé de sélectionner les données au delà de l'année 2011 parce qu'on veut avoir les informations les plus récentes
On sélectionne aussi les bières qui ont été noté plus d'une fois
On choisit comme critères: la note globale *review_overall* et la note du gout *review_taste* de la bière

In [135]:
df1=beer_after_date(df,2011)

In [158]:
top_bieres(df1,2900)

,brewery_name,beer_beerid,beer_name
76393,Sierra Nevada Brewing Co.,1904,Sierra Nevada Celebration Ale
1166284,Dogfish Head Brewery,2093,90 Minute IPA
1242846,North Coast Brewing Co.,412,Old Rasputin Russian Imperial Stout

Les 3 top bières de l'année 2012 sont: *Sierra Nevada Celebration Ale*,*90 Minute IPA* et *Old Rasputin Russian Imperial Stout*

## 3. Which of the factors (aroma, Tate, appearance, palate) are most important in determining the overall quality of a beer ?

In [138]:
df2=df[["review_overall","review_aroma","review_taste","review_appearance","review_palate"]]

## Matrice de corrélation

In [154]:
mat=df2.corr()
mat

,review_overall,review_aroma,review_taste,review_appearance,review_palate
review_overall,1.000000,0.616013,0.789816,0.501732,0.701914
review_aroma,0.616013,1.000000,0.716776,0.561029,0.616947
review_taste,0.789816,0.716776,1.000000,0.546980,0.734135
review_appearance,0.501732,0.561029,0.546980,1.000000,0.566634
review_palate,0.701914,0.616947,0.734135,0.566634,1.000000

In [156]:
corr=mat.drop(columns=['review_aroma', 'review_taste', 'review_appearance',
       'review_palate'],index="review_overall")

In [157]:
corr.columns=["corrélation avec review_overall"]
corr

                   corrélation avec review_overall
review_aroma                              0.616013
review_taste                              0.789816
review_appearance                         0.501732
review_palate                             0.701914

La variable *review_taste* est la variable qui est la plus liée à la variable *review_overall* avec une coefficeient de corrélation égale à 0.7
Cela voudrait dire que le gout influence la note gblobale d'une bière

## 4. Lastly, if I typically enjoy a beer due to its aroma and appearance, which beer style should I try ?

On reprend la procédure qu'à la question 2 mais on change les critères.
On choisit comme critères cette fois-ci: la note relative à l'arome *review_aroma* et la note relative à l'apparance *review_appearance* de la bière

In [182]:
beer_style(df1,60000)

           beer_style  review_aroma  review_appearance
257      American IPA           4.0                4.0
339      American IPA           4.5                4.0
340      American IPA           4.0                4.5
343      American IPA           3.5                4.0
345      American IPA           4.5                4.5
...               ...           ...                ...
652261   American IPA           4.0                1.0
711980   American IPA           4.5                1.5
735160   American IPA           3.0                1.5
1058882  American IPA           1.0                1.5
1119277  American IPA           3.5                1.5

[75 rows x 3 columns]